.allContainer > .contentContainer.settingsContainer
    &>div h1 
        color COLOR_GRAY_DARKER 
    
    &>.settingsForm
        padding 1em 40%
        
        &>md-input-container 
            width 100%
            
        &>.submitButton button 
            background COLOR_PRIMARY_BRIGTHER
            color COLOR_GRAY_DISABLED
    
    
