header
	padding 1em
	vertical-align center
	text-transform uppercase
	width 100%
	background-color COLOR_PRIMARY
	position relative

	&>.tituloHeader
		color COLOR_WHITE
		text-align center		

		&>h1
			margin 0

		&>p
			font-size 12px
	
		&>div 
			position absolute
			bottom 0
			right 50px