.navbar
    
    position relative

.homeButton
    position absolute
    top 10px
    left 20px
    &>md-icon
        color COLOR_GRAY_DARKER!important
        
.menuButton
    position absolute
    top 10px
    right 20px
    &>md-icon
        color COLOR_GRAY_DARKER!important

.navbarMenuContent
    padding 0
    &>.userName
        background-color COLOR_PRIMARY_BRIGTHER
        text-transform uppercase
    

    