.navbar
    
    position relative

.homeButton
    position absolute
    top 10px
    left 20px
    
    @media screen and (max-width: MEDIA_STEP_BOTTOM) {
        top -40px
        left 0
    }

    &>md-icon
        color COLOR_GRAY_DARKER!important
        
.menuButton
    position absolute
    top 10px
    right 20px
   
    @media screen and (max-width: MEDIA_STEP_BOTTOM) {
        top -40px
        right 0
    }

    &>md-icon
        color COLOR_GRAY_DARKER!important

.navbarMenuContent
    padding 0
    &>.userName
        background-color COLOR_PRIMARY_BRIGTHER
        text-transform uppercase
    

    