body
  background-color COLOR_GRAY
  font-family 'Roboto', sans-serif
  
.allContainer
  background-color COLOR_GRAY
  min-height 100%
  
  a
    text-decoration none
    color initial

  &>.contentContainer
    background-color: COLOR_WHITE
    margin 0 13% 5% 13%
    padding 1em
    
    @media screen and (max-width: MEDIA_STEP_BOTTOM) {
        margin 0
    }
    
    &>.filter
      color COLOR_GRAY_DARKER
      margin 1em 15%
      &>form
        margin 1em 15%
        
    &>.addPlant
      position fixed
      bottom 20px
      left 20px
      
      @media screen and (max-width: MEDIA_STEP_BOTTOM) {
        bottom 0
        left 0
      }

      &>a md-icon
        color COLOR_GRAY_DARKER!important
                   
md-card .md-card-image
  max-height 200px    


