.allContainer > .contentContainer
    &>.textsContainer h1
        color COLOR_GRAY_DARKER
        
    
    &>.registerForm
        padding 1em
        margin 0 auto
        
        &>md-input-container
            margin 0.3em 0
            
            &>.name
                text-transform capitalize 
                
            &>.error
                color rgb(221,44,0)
                padding-right 12px
                padding-left 0
                font-size 12px
                line-height 14px
                opacity 1
                margin-top 0
                padding-top 5px
                &>.ng-hide-add, .error.ng-hide-remove
                    transition all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2)
                    
        &>.buttons
            &>.md-button
                color COLOR_GRAY_DARKER
                background COLOR_PRIMARY_BRIGTHER
        

         
